{% extends "index/header2.html" %} {% block title %}
<title>Speedfitness/13 | Blog</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'index/css/blog.css' %}" type="text/css"> {% endblock title %} {% block navigation %}
<div class="nav-list">
  <!-- <a id="blog-header"><b>Bejegyzések:</b></a> -->
  <div class="blog-posts">
    {% for post in posts %}
    <a href="#{{post.id}}">{{post.title}}</a> {% endfor %}
  </div>
</div>
<!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
{% load staticfiles %}
<script charset="utf-8" src="{% static 'index/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script>
  $(document).on('click', 'a[href^="#"]', function (e) {
    // target element id
    var id = $(this).attr('href');

    // target element
    var $id = $(id);
    if ($id.length === 0) {
      return;
    }
    e.preventDefault();

    // top position relative to the document
    var pos = $id.offset().top;

    // animated top scrolling
    $('body, html').animate({ scrollTop: pos }, 500);
  });
</script>
{% endblock navigation %} {% block content %}
<h1>Blog</h1>

{% if posts %}

{% for post in posts %}
<div id="{{post.id}}">
  <h3>{{post.title}}</h3>
  <h6>{{post.timestamp}}</h6>
  <p class="content" style="font-size:90%;">
    {{post.body|safe|linebreaks}}
  </p>
</div>
{% endfor %}

{% else %}
<h3>Még nincs poszt feltöltve</h3>
{% endif %}

{% endblock content %}