{% extends "index/header2.html" %} {% block title %}
<title>Speedfitness/13 | Galéria</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'index/css/images.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}" type="text/css"> {% endblock title %} {% block content %}
<h2>Galéria</h2>

{% for photo in photos %} {% if photo.image %}
<!-- Galery where the pictures are -->
<div id="imageContainer">
    <!-- <a href="{{photo.image.url}}"> -->
    <img class="image" src='{{photo.image.url}}'  onclick="show(this.src)" alt="{{photo.title}}" />
</div>
{% endif %} {% endfor %} {% endblock content %} {% block sideshow %}
<!-- Sideshow. This will appear on click -->
<div class="sideshow">
        <div id="image-close-button-container">
             <button id="hide" class="close" onclick="hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
        </div>
    <div class="frame">
        <button id="prev" class="nav-button" onclick="prev()"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <img id="slider" src="" onchange="setHeight()" />
        <button id="next" class="nav-button" onclick="next()"><span class="glyphicon glyphicon-chevron-right"></span></button>

        <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
        {% load staticfiles %}
        <script charset="utf-8" src="{% static 'index/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
        <script>
            var images = [];
            {% for photo in photos %}
               
            images.push("{{photo.image.url }}"); // push images to the array
            {% endfor %}
            var num = 0;

            /*
            * if the user clicks on next button, or presses the right cursor button
            * on the tastatur the next picture will be load
            */
            function next() {
                var slider = document.getElementById('slider');
                //var h = document.getElementById("slider").clientHeight;
                //$("button").css("height", h);
                num++;
                if (num >= images.length) {
                    num = 0;
                }
                slider.src = images[num];
            }

            /*
            * if the user click on prev button or presses left cursor button on tastatur
            * the previous picture will be load
            */
            function prev() {
                var slider = document.getElementById('slider');
                //var h = document.getElementById("slider").clientHeight;
                // $("button").css("height", h);
                num--;
                if (num < 0) {
                    num = images.length - 1;
                }
                slider.src = images[num];
            }

            /*
            * if the user clicks on a picture these picture will appear
            */
            function show(_src) {
                $("div.sideshow").css("display", "inline-block");
                $("div.sideshow").css("z-index", "3");
                $("body").css("overflow-y", "hidden");
            //    if($("#slider").height > $("#slider").width) {
            //        $("#slider").css({"width": "20%"});
            //    }
            //    else{
            //        $("#slider").css({"width" : "80%"});
            //    }

                //$("slider").src("{{photo.image.url}}");
                document.getElementById("slider").src = _src;
            }

            /*
            * if user clicks X or presses Esc slideshow disappears
            */
            function hide() {
                $("div.sideshow").css("display", "none");
                $("body").css("overflow-y", "scroll");
            }

            /*
            * if the src attribute an images changes the height of the navigation
            * buttons will be the good
            */
            function setHeight() {
                var h = document.getElementById("slider").clientHeight;
                $("button.nav-button").css("height", h);
            }

            $("#slider").on("load", function (event) {
                setHeight();
            });

            $(window).resize(function (event) {
                setHeight();
            });

            /*
            * processing the keyevents
            */
            document.onkeydown = function (evt) {
                var code = evt.keyCode;
                switch (code) {
                    case 27: hide(); break;
                    case 37: prev(); break;
                    case 39: next(); break;
                    default: break;
                }

            };
        </script>
    </div>
</div>
{% endblock sideshow %}