{% extends "index/header2.html" %}

{% block title %}
  <title>Speedfitness/13 | Rólunk</title>
{% endblock title %}

{% block content %}

  {% for post in about_posts %}
      <h3>{{post.title}}</h3>
      <p class="content" style="font-size:90%;">
        {{post.body|safe|linebreaks}}
      </p>
      <h6>{{post.date}}</h6>
  {% endfor %}
  
{% endblock content %}
