 {% extends "index/header2.html" %} 
 {% block title %}
    <title>Speedfitness/13 | Kapcsolat</title>
{% endblock title %}

{% block content %}

<h2>Kapcsolat</h2></br>

<p id="contact">
    <h4>Telefon:</br>
    </h4>
    +36-30-817-8919</br>
</p>

<p id="contact">
    <h4>Cím:</br>
    </h4>
    1139 Budapest, Üteg utca 11/b.</br>
</p>
<p id="contact">
    <h4>Email:</br>
    </h4>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=fitandrush@gmail.com">fitandrush@gmail.com</a></br>
</p>

<div id="map" style="width:40vmax;height:30vw;"></div>

<script>
    function myMap() {
        var pos = { lat: 47.529163, lng: 19.076209 };
        var mapOptions = {
            center: new google.maps.LatLng(pos),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var marker = new google.maps.Marker({
            position: pos,
            map: map
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

</br>
</br>

{% endblock content %}