{% extends "index/header2.html" %}

{% block title %}
    <title>Speedfitness/13 | Hiba 404</title>
{% endblock title %}

{% block content %}

<h2>Ez az oldal nem létezik</h2>
    
{% endblock content %}