{% extends "index/header2.html" %}

{% block title %}
    <title>Speedfitness/13 | Ellenjavallatok</title>
{% endblock title %}


{% block content %}
  <h2>Gyakori kérdések</h2>

  <ul>
    {% for post in faq_posts %}
        <li><b>{{post.question|safe|linebreaks}}</b></li>
        <p class="content" style="font-size:60%;">
          {{post.answer|safe|linebreaks}}
        </p>
    {% endfor %}
  </ul>

{% endblock content %}dd