<!DOCTYPE html>

<html lang="HU-hu">

<!-- HEAD -->

<head>

    {% block title %} {% endblock title %} {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index/css/basic.css' %}" type="text/css">
    <link rel="icon" href="{% static 'index/img/fit_and_rush.jpg' %}" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="keywords" content="speedfitness/13, speed, fitness, speedfitness, 13. kerület, gyors, 
     fogyás, hatékony">
    <meta name="author" content="Bártfai Máté">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- BODY -->

<body class="body">

    <table id="mainContent" style="width:100vw;">

        <tr>
            <td class="upper-row" colspan="2">
                <img id="mainPicture" src="{% static 'index/img/kezdokep.jpg' %}" alt="belso ter" />
            </td>
        </tr>

        <tr>
            <!-- Left sided menu -->
            <td class="left-side" style="width:20%">
                <img id="opening" src="{% static 'index/img/fit_and_rush.jpg' %}" alt="logo" />
                <div class="menu">
                    <ul class="sideBar">
                        <li><a href="/">Kezdőlap</a></li>
                        <li><a href="/rolunk">Rólunk</a></li>

                        <!--Dropdown menu -->
                        <div class="dropdown">
                            <li><a>Szolgáltatásaink</a></li>
                            <div class="dropdown-content">
                                <li><a href="/speedfitness">Speedfitness</a></li>
                                </br>
                                <li><a href="/kavitacio">Kavitációs zsírbontás</a></li>
                                </br>
                            </div>
                        </div>

                        <li><a href="/araink">Áraink</a></li>
                        <li><a href="/galeria">Galéria</a></li>
                        <li><a href="/kapcsolat">Kapcsolat</a></li>
                        <li><a href="/gyakori_kerdesek">Gyakori kérdések</a></li>
                    </ul>

                </div>
                <img id="opening" src="{% static 'index/img/miha_logo_jpg.jpg' %}" alt="miha bodytec logo" />

                <div class="facebook" style="width:inherit">
                </div>
            </td>

            <!-- on Right side the content  -->
            <td class="right-side" style="width:80%">
                <div class="content">
                    <br> 
                    {% block content %}

                    {% endblock content %}
                </div>
            </td>
        </tr>

        <!-- FOOTER -->
        <tr>
            <td style="padding-left:1vw;">
                <footer>
                    <p><a href="/kapcsolat" target="contact">Contact</a> | <a href="https://www.facebook.com/fitandrush/" target="facebook">Facebook</a>
                </footer>
            </td>
        </tr>


    </table>

</body>

</html>