<!DOCTYPE html>

<html lang="HU-hu">

<!-- HEAD -->

<head>

    {% block title %} {% endblock title %} {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index/css/basic2.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'index/css/menu.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'index/css/footer.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}" type="text/css">
    <link rel="icon" href="{% static 'index/img/tab_ikon.png' %}" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="keywords" content="speedfitness/13, exklúzív, speed, fitness, speedfitness, 13. kerület, gyors, 
     fogyás, hatékony">
    <meta name="author" content="Bártfai Máté">
    <meta name="copyright" content="The respective materials are copyrighted in the full extend of the law">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- BODY -->

<body class="body">

    <div id="mainContent" style="width:100vw;">

        <div class="tr-1">
            <div class="upper-row" colspan="2">
                <img id="mainPicture" src="{% static 'index/img/fo_kep.png' %}" alt="belso ter" />
            </div>
        </div>

        <div class="tr-2">
            <!-- --- Left sided menu --- -->
            <div class="left-side">
                <img id="opening" src="{% static 'index/img/fit_and_rush.jpg' %}" alt="logo" />
                <div class="menu">
                    <ul class="sideBar">
                        <!--<li><a href="/">Kezdőlap</a></li>-->
                        <li class="menu-list"><a href="/rolunk">Rólunk</a></li>

                        <!--Dropdown menu -->
                        <div class="dropdown">
                            <li class="drop-click menu-list"><a>Szolgáltatásaink <span class="glyphicon glyphicon-chevron-left" style="float:right; margin-right: 10px;"></span></a></li>
                            <div class="dropdown-content">
                                <li class="menu-list"><a href="/speedfitness">Speedfitness</a></li>
                                </br>
                                <li class="menu-list"><a href="/kavitacio">Kavitációs zsírbontás</a></li>
                                </br>
                            </div>
                        </div>

                        <li class="menu-list"><a href="/araink">Áraink</a></li>
                        <li class="menu-list"><a href="/galeria">Galéria</a></li>
                        <li class="menu-list"><a href="/blog">Blog</a></li>
                        <div class="blog-navigation">
                            {% block navigation %} {% endblock navigation %}
                        </div>
                        <li class="menu-list"><a href="/kapcsolat">Kapcsolat</a></li>
                        <li class="menu-list"><a href="/gyakori_kerdesek">Gyakori kérdések</a></li>
                    </ul>

                </div>
                <!-- Picture below the menu -->
                <img id="opening" src="{% static 'index/img/miha_logo_jpg.jpg' %}" alt="miha bodytec logo" />
                <!-- Navigation list for the blogposts  -->
                
                <div class="facebook-container">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.10";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/fitandrush/" data-tabs="timeline" data-width="280" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/fitandrush/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fitandrush/">Fitandrush Speedfitness</a></blockquote></div>
                </div>
            </div>

            <!-- on Right side the content  -->
            <div class="right-side">
                <div class="content">
                    <br> {% block content %} {% endblock content %}
                </div>
                <button onclick="topFunction()" id="goTop" title="Ugrás a lap tetejére"><span class="glyphicon glyphicon-chevron-up"></span></button>
            </div>


        </div>
        {% block sideshow %} {% endblock sideshow %}
        <!-- FOOTER -->
        <div class="tr-3">
            <div class="footer">
                <footer>
                   <!-- Just for debugging-->
                   <!-- <w></w>
                    <wl></wl>
                    <wr></wr> -->
                    <p class="contact"><a href="/kapcsolat" target="contact">Kapcsolat</a> | <a href="https://www.facebook.com/fitandrush/" target="facebook">Facebook</a> | <a href="https://mail.google.com/mail/?view=cm&fs=1&to=fitandrush@gmail.com">E-mail</a>
                    <p class="developer">Fejlesztő: Bártfai Máté</br>
                        A megfelelő anyagok szerzői jog védelmében állnak</br>
                        08.2017. ver: 1.0
                    
                    </p>    
                </footer>
            </div>

        </div>


    </div>

</body>
<!------------------- JAVASCRIPT -------------------------->
{% load staticfiles %}
<script charset="utf-8" src="{% static 'index/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script charset="utf-8" src="{% static 'index/js/header.js' %}" type="text/javascript"></script>

</html>