{% extends "index/header2.html" %}

{% block title %}
  <title>Speedfitness/13 | Kezdőoldal</title>
{% endblock title %}

{% block content %}

  {% for post in posts %}
      <h1>{{post.title}}</h1>
      <p class="content" style="font-size:90%;">
        {{post.body|safe|linebreaks}}
      </p>
      <h6>{{post.date}}</h6>
  {% endfor %}
  

{% endblock content %}
