{% extends "index/header2.html" %}

{% block title %}
  <title>Speedfitness/13 | Kavitációs zsírbontás </title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'index/css/speedfitness_kavitacio.css' %}" type="text/css">
{% endblock title %}

{% block content %}
    <h2>Kavitációs zsírbontás</h2>

    {% for kp in kavitation_posts  %}
    <p class="content" style="font-size:90%;">
        {{kp.description|safe}}
      </p>
  {% endfor %}

{% endblock content %}