 {% block pricelist %}

<table class="price-list">
    <th colspan="2">Speedfitness</th>
    
    {% for p in sprice  %}
    <tr>
        <td>{{p.1}}</td>
        <td>{{p.0}} Ft</td>  
    </tr>
    {% endfor %}

</table>
<br/>

<table class="price-list">
    <th colspan="2">Kavitációs zsírbontás</th>
    <tr>
        <td>Próbaalkalom:</td>
        <td>3 300 Ft</td>
    </tr>
    <tr>
        <td>3 alkalom:</td>
        <td>15 000 Ft</td>
    </tr>
    <tr>
        <td>6 alkalom:</td>
        <td>27 000 Ft</td>
    </tr>
</table>

{% endblock pricelist %}