{% extends "index/header2.html" %} 
{% block title %}
<title>Speedfitness/13 | Áraink</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'index/css/pricetable.css' %}" type="text/css">
{% endblock title %}
{% block content %}

<h2>Áraink</h2>


{% block pricelist %} 
{% include "index/pricetable.html" %} 
{% endblock pricelist %}

{% load staticfiles %}
<div class="pricelist-img">
    <img src="{% static 'index/img/pricelist.png' %}" alt="árlista">
</div>
</br>
<p>Áraink bruttó összegben értendők.</p></br>
{% endblock content %}