{% extends "index/header2.html" %}

{% block title %}
    <title>Speedfitness/13 | Speedfitness</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index/css/speedfitness_kavitacio.css' %}" type="text/css">
{% endblock title %}

{% block content %}
  <h2>Speedfitness</h2>

  {% for sp in speedfitness_posts  %}
    <p class="content" style="font-size:90%;">
        {{sp.description|safe}}
      </p>
  {% endfor %}
  
{% endblock content %}