body.body{
    font-family: "Helvetica";
    font-size: 2vmax;
   /* font-size: 15px;*/
    background-color: #F6F6F6;
    overflow-x: hidden;
}

#mainContent{
    position: absolute;
    left: -1vw;
    top: -10px;
    border-collapse: collapse;
    width: 101vw;
}

ul {
   /* float: left;*/
}
.tr-1{
    width: 101%;
}

.tr-2{
    width: 100vw;
}
.tr-3{
    width: 100vw;
}

.left-side{
    /*padding: 0%;*/
    vertical-align: top;
   /* background-color: #ba8e16;*/
   /* background-color: #ffa500;*/
    background-color: #ff4c00;
    padding-left: 0vh;
    font-size: 22px;
    float: left;
    width: 250px;
    min-width: 300px;
    /*font-size: 90%;*/
}


.right-side{
    vertical-align: top;
    padding-left: 1vw;
    padding-right: 0vw;
    font-size: 20px;
    float: left;
    /*width: 65vw;
   /* min-width: 500px;
  /* font-size: 80%;*/
}

ul.upperBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.sideBar{
    list-style-type: none;
   /* margin: 10px;*/
    padding-bottom: 0vh;
    padding-left: 0;
    width: 100%;
    /*background-color: #ba8e16;*/
    /*background-color: #ffa500;*/
     background-color: #ff4c00;

    margin-left: 0;
    margin-top: 0;
    /*background-color: #4d384f;*/
   /* float: left;*/
   
    /*height: 100vh;*/
    /*margin-bottom: 110vh;*/
}

li.menu-list {
   
    text-decoration: none; 
    font-size: 100%;
    /*text-align: left;*/
}


li.menu-list a{
    display: block;
    color: white;
    text-align: left;
    padding: 1vh 1vw;
    text-decoration: none;
}

li.warning{
    color: red;
    background-color: red;
    /*size: inherit;*/
    width: 100%;
    
}

li.menu-list a:hover {
    background-color: #FBA300;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/*.dropdown:hover .dropdown-content {
    display: block;
}*/



div#mainPicture{
   /*background-color: #ba8e16;*/
    background-color: #ffa500;
    padding-left: 10px;
    padding-top: 10px;
}

p{
    text-align: justify;
}
.content{
    float: left;
    background-color: #F6F6F6;
}

#mainPicture{
   vertical-align: center;
   width: 100%;
   /* height: 10vh;*/
    /*width: 15vw;*/
}



.upper-row{
    /* background-color: #ba8e16;*/
    /* background-color: #ffa500;*/
      background-color: #ff4c00;
     width: 100%;
     vertical-align: center;
}



#map{
   width: 20vw;
}

h3{
   /* padding-left: 2vh; */
}

#opening{
   max-width: 100%;
   border-style: solid;
   border-color: #F6F6F6;
}

.menu{
    padding-left: 1vw;
}

.face-book{
    float: left;
}

.facebook-container{
    padding-left: 20px;
}

#goTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 25; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #EF740D; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    background-color: rgba(239, 116, 13, 0.9);
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}