body.body{
    font-family: "Helvetica";
    font-size: 2vmax;
   /* font-size: 15px;*/
    background-color: #F6F6F6;
}

ul {
   /* float: left;*/
}

ul.upperBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.sideBar{
    list-style-type: none;
   /* margin: 10px;*/
    padding-bottom: 0vh;
    padding-left: 0;
    width: 100%;
    /*background-color: #ba8e16;*/
    /*background-color: #ffa500;*/
     background-color: #ff4c00;

    margin-left: 0;
    margin-top: 0;
    /*background-color: #4d384f;*/
   /* float: left;*/
   
    /*height: 100vh;*/
    /*margin-bottom: 110vh;*/
}

li {
   
    text-decoration: none; 
    font-size: 100%;
    /*text-align: left;*/
}


li a{
    display: block;
    color: white;
    text-align: left;
    padding: 1vh 1vw;
    text-decoration: none;
}

li.warning{
    color: red;
    background-color: red;
    /*size: inherit;*/
    width: 100%;
    
}

li a:hover {
    background-color: #111;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #9b791f;*/
    /*background-color: #D88DAE;*/
   /* background-color: #e51651; */
   /* background-color: #ffa500;*/
    background-color: #ff8800;
    min-width: inherit;
    /*width: 16vw;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 1vw 1vh;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
  font-size: 15px;
  align-content:  center;
  background-color: #F6F6F6;
}

div#mainPicture{
   /*background-color: #ba8e16;*/
    background-color: #ffa500;
    padding-left: 10px;
    padding-top: 10px;
}

p{
    text-align: justify;
}
.content{
    float: left;
    background-color: #F6F6F6;
}

#mainPicture{
   vertical-align: center;
   width: 100%;
   /* height: 10vh;*/
    /*width: 15vw;*/
}

#mainContent{
    position: absolute;
    left: -1vw;
    top: -10px;
    border-collapse: collapse;
}

.upper-row{
    /* background-color: #ba8e16;*/
    /* background-color: #ffa500;*/
      background-color: #ff4c00;
     width: 100%;
     vertical-align: center;
}

.left-side{
    /*padding: 0%;*/
    width: 30%;
    vertical-align: top;
   /* background-color: #ba8e16;*/
   /* background-color: #ffa500;*/
   background-color: #ff4c00;
    padding-left: 0vh;
    font-size: 22px;
    /*font-size: 90%;*/
}

td.right-side{
    width: 70%;
    vertical-align: top;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 20px;
  /* font-size: 80%;*/
}

#map{
   width: 20vw;
}

h3{
    padding-left: 2vh;
}

#opening{
   max-width: 100%;
   border-style: solid;
   border-color: #F6F6F6;
}

.menu{
    padding-left: 1vw;
}

.face-book{
    float: left;
}