.nav-list a{
    padding-left: 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.nav-list {
    position: relative;
     text-decoration: none; 
     font-size: 18px;
     z-index: 25
     /*text-align: left;*/
 }
 
 
 .nav-list a{
     display: block;
     color: white;
     text-align: left;
     padding: 1vh 1vw;
     text-decoration: none;
 }

 .blog-posts a:hover {
    /*background-color: #ff4c00;*/
    text-decoration: underline;
}

#blog-header{
    text-decoration: none;
}

#blog-header:hover{
    text-decoration: none;
    color: white;
}

.blog-navigation{
    vertical-align: top;
    padding-left: 1vw;
    padding-right: 0vw;
    font-size: 20px;
    float: left;
    width: inherit;
    background-color: rgb(255, 145, 0);
    height: 10vh;
    overflow: auto;
}