 
.footer{
    float: left;
    width: 100%;
    padding-left: 2vw;
    padding-top: 10px; 
    background-color: #ff8800;
}

footer {
  font-size: 18px;
  align-content:  center;
  background-color: #ff8800;
}
  
  p.contact{
    background-color: #ff8800;
    color: #FFFFFF;
  }

  .contact a {
    color: white;
  }

  .developer{
      float: right;
      font-size: 10px;
      background-color: #ff8800;
      padding-right: 10px;
  }

  .contact, .developer{
      display: inline;
      vertical-align: top;
      background-color: #ff8800;
  }