.image{
    width: 98%;
    display: block;
    margin: 0 auto;
}


.image:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
   /* padding: 1vw 1vh;*/
    z-index: 1;
}

#imageContainer{
    max-width: 30%;
    float: left;
    padding: 10px;
}

.sideshow{
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;
}
.frame{
    /*position: absolute;*/
    /*top: 15%;*/
    width: 80vw;
    /* vertical-align: middle; */
    /*left: 10%;*/
    margin: auto;
    margin-top: 5%;
}
#slider {
    /*position: absolute;
    top: 30%;
    /* vertical-align: middle; */
    /*left: 22%;*/
    width: 80%;
    height="auto";
   
}

 #prev,  #next {
    background-color: #ff8800; 
    border: none;
    color: white;
    /*padding: 15px 15px;*/
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
   /* position: fixed;*/
}
#next {
    position: fixed;
}


#hide {
    z-index: 12;
    position: absolute;
    color: #FFFFFF;
    /*left: 65vw;*/
    right: 0px;
    top: 0px;
    border: none;
    background: none;
    padding: 10px;
    font-size: 25px;
    -ms-transform: scale(2.5,2.5); /* IE 9 */
    -webkit-transform: scale(2.5,2.5); /* Safari */
    transform: scale(2.5,2.5); /* Standard syntax */
}

.nav-button:hover{
    color: gray;
}

#prev{
    float: left;
}

#next {
    float: left;
}
#slider{
    float: left;
}

#slidet img{
    max-width:80vw;
    height:auto;
    max-height:60vh;
    width:auto;
}