li a:hover {
    background-color: #111;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #9b791f;*/
    /*background-color: #D88DAE;*/
   /* background-color: #e51651; */
   /* background-color: #ffa500;*/
    background-color: #ff8800;
    /*min-width: inherit;*/
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 1vw 1vh;
    z-index: 1;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}