
.price-list-speedfitness{
    width: 30vmax;
    text-align: left;
    border: 1px border-style black;
    border-collapse: collapse;
}

.price-list tr:nth-child(even) {
    background-color: #dddddd;
}

.price-list{
     width: 30vmax;
     min-width: 300px;
     font-size: 25px;
     border: 1px border-style black;
     padding-left: 10px;
     text-align: left;
}

.price-list-kavitacio.th{
    text-align: left;
}

.price-list-speedfitness.th{
    text-align: left;
}

.price-list-kavitacio.tr{
    height: 25px;
}

.pricelist-img img{
    vertical-align: middle;
    min-width: 500px;
    width: 100%;
}